.sustainability{
    min-height: 70vh;
    position: relative;
}
.message-icon{   
    top: 10px;
    right: 10px;
}
.Cuisine-main{
    background: #F4F4F4;
}
.Cuisine-cont .row .card, .card-body{
border: none;
background: transparent;
padding:15px 0;
}

.top-btn{
    width: 48px;
    height: 48px;
    background: #000;
    position: absolute;
    right: 50px;
    top: -25px;
    border-radius: 50%;
    }
.top-btn img{
    width: 100%;
    cursor: pointer;
}
.topic select{
    border: none;
    background: transparent;
    padding: 0;
    font-size: 14px;
}